<div class="masthead">
  <h3 class="text-muted">Background Smackdown</h3>
  <ul class="nav nav-justified">
    <%= nav_link 'Home', root_path %>
    <%= nav_link 'Batches', batches_path %>
  </ul>
</div>
